/* Following code is used for creating a side navigation bar and overlays */

/* For the open navigation button */
#openNav{
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 10000;
    color: white;
}

/* The side navigation styles for the background*/
.sidenav {
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0px;
    background-color: #7386D5;
    color: #fff;
    overflow-x: hidden;
    transition: all 0.5s;
    padding-top: 0px;
}

.sidenav .item{
    font-size: 25px;
    background: #6d7fcc;
}

.sidenav .item{
    cursor: pointer;
}

.sidenav ul li a{
    color: #fff;
    padding: 0px;
}

.sidenav ul li{
    color: #fff;
    padding: 10px;
}

.sidenav ul.components{
    padding: 10px 0;
    border-bottom: 1px solid #47748b;
}

.sidenav ul span{
    color: #fff;
    padding: 10px;
}

.sidenav ul li .nav_Item {
    padding: 10px 0px 10px 0px;
    font-size: 1.1em;
    display: block;
}
.sidenav ul li .nav_Item:hover {
    cursor: pointer;
}

.sidenav ul li.active > .nav_Item, .nav_Item[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul .nav_Item, #export {
    font-size: 0.9em !important;
    padding-left: 10px !important;
    background: #6d7fcc;
}

/* The side navigation item styles*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    /* transition: 0.3s; */
}

/* The side navigation item styles*/
.sidenav a:hover {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: #fff;
    display: block;
}



/* The side navigation item styles*/
.mapAreas_SideNav {
    padding: 0px;
    text-decoration: none;
    font-size: 1.0rem;
    color: #fff;
    display: block;
    /* transition: 0.3s; */
}

/* .sidenav a:hover {
    color: #f1f1f1;
} */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 0px;
    margin-top: -15px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* This is to create an overlay over the map so users do not interact with the map 
    when the side views are open*/
.mainOverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity:0;
    transition: opacity 1s;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}